{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container mt-5 text-center">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-success shadow-sm" role="alert">
                <h4 class="alert-heading">✨ Готово!</h4>
                <p>Ваш пароль було успішно змінено. Тепер ви можете використовувати новий пароль для входу.</p>
                <hr>
                <a href="{% url 'users:profile' %}" class="btn btn-primary">Повернутися до профілю</a>
            </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block footer %}
{% endblock footer %}