{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <header>
    {% block header %}
        <img src="{% static 'python-logo2.png' %}" alt="Logo">
        <nav>
            {# Обов'язкові пункти меню #}
            <a href="{% url 'main:home' %}">Головна</a>
            <a href="{% url 'catalog:index' %}">Товари</a>
            <a href="{% url 'main:about' %}">Про нас</a>
            <a href="{% url 'users:login' %}">Вхід</a>
            <a href="{% url 'users:login' %}">Вихід</a>
            <a href="{% url 'admin:index' %}">Адмін панель</a>
            <a href="{% url 'users:register' %}">Регістрація</a>
        </nav>
    {% endblock header %}
    </header>

    <main>
    {% block main %}
        <h3>Блок "main"</h3>

    {% endblock main %}
    </main>

    <footer>
    {% block footer %}
        <h3>Блок "footer"</h3>
    {% endblock footer %}
    </footer>
</body>
</html>