{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    {% block header %}
    <header>
        <img src="{% static 'python-logo2.png' %}" alt="Logo">
        <nav>
            {# Обов'язкові пункти меню #}
            <a href="{% url 'home' %}">"Головна"</a>
            <a href="{% url 'about' %}">"Про нас"</a>
        </nav>
    </header>
    {% endblock header %}

    {% block main %}
    <main>
        <h3>Блок "main"</h3>

    </main>
    {% endblock main %}

    {% block footer %}
    <footer>
        <h3>Блок "footer"</h3>
    </footer>
    {% endblock footer %}
</body>
</html>